<h1 class='center'>Welcome to our app</h1>


<hr />

<div class='center'>
  <button class='ui button teal users'>View Users</button>
  <button class='ui button teal create' id="submit">Create New User</button>
</div>

<hr />

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="first_name" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s12">
        <input id="last_name" type="text" class="validate">
        <label for="icon_prefix">Last Name</label>
      </div>
      <div class="input-field col s12">
        <input id="phone_number" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
  </form>
</div>

<h4 class="center">
<ul>
  <div class='user-list'> 
  </div>
</ul>
</h4>